.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  padding: 2% 5% 4%;
}

.button {
  background-color: white;
  border: none; 
  outline: none;
  
  transition: transform 1s;
  margin-bottom: 30px;

  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}