
.wrapper {
  position: absolute;
  top: 50px;
  z-index: 3;
  width: 80%;
  padding: 15px;
  max-height: 200px;
  overflow-y: scroll;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  background-color: white;
  border: 1px solid rgb(190, 187, 187);
}

.button {
  position: sticky;
  right: 0px;
  top: 5px;

  background-color: red;
  color: white;
  
  border: none;
  outline: none;
}

.historyItem {
  padding: 10px 15px;
}