.input {
  width: 35%;
  height: 50px;
  padding: 0 15px;
  position: relative;
  outline: none;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: white;
  border: 1px solid rgb(190, 187, 187);

  &::after {
    content: url('./Magnifier_icon-icons.com_52024.png');
    height: 20px;
    width: 20px;
    position: absolute;
  }
}