body {
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
}

ul, li, h3, h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(49, 48, 48);
}

p {
  margin: 5px 0;
}

* {
  box-sizing: border-box;
}

input::placeholder {
  font-family: 'Architects Daughter', cursive;
}

button, 
a, 
input {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-family: 'Architects Daughter', cursive;
}